{{# include "nav/TutorialNav.html" #}}
{{# include "nav/GuideNav.html" #}}
{{# include "nav/LearnNav.html" #}}
{{# include "nav/BuildNav.html" #}}
{{# include "nav/ArchitectureNav.html" #}}
{{# include "nav/ReferenceNav.html" #}}

{{ define "Sidebar" }}
<aside class="sidebar">
    <button class="sidebar-toggle" id="sidebar-toggle" aria-expanded="false" aria-controls="sidebar-content">
        <span>In this section</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </button>
    <div class="sidebar-content" id="sidebar-content">
        {{ $currentPath := .Res.FullPath }}

        {{ if .FrontMatter.toc }}
        <div class="toc">
            <h3>On This Page</h3>
            <div id="toc-container"></div>
        </div>
        {{ end }}

        <nav class="section-nav">
            {{ if (Contains $currentPath "/tutorials/") }}
                {{ template "TutorialNav" . }}
            {{ else if (Contains $currentPath "/guide/") }}
                {{ template "GuideNav" . }}
            {{ else if (Contains $currentPath "/learn/") }}
                {{ template "LearnNav" . }}
            {{ else if (Contains $currentPath "/build/") }}
                {{ template "BuildNav" . }}
            {{ else if (Contains $currentPath "/architecture/") }}
                {{ template "ArchitectureNav" . }}
            {{ else if (Contains $currentPath "/reference/") }}
                {{ template "ReferenceNav" . }}
            {{ else }}
                <div class="section-nav-content">
                    <h3>Start here</h3>
                    <ul>
                        <li><a href="{{.Site.PathPrefix}}/overview/">Overview</a></li>
                        <li><a href="{{.Site.PathPrefix}}/tutorials/">Tutorials</a></li>
                    </ul>
                    <h3>Sections</h3>
                    <ul>
                        <li><a href="{{.Site.PathPrefix}}/tutorials/">Tutorials</a></li>
                        <li><a href="{{.Site.PathPrefix}}/guide/">User guide</a></li>
                        <li><a href="{{.Site.PathPrefix}}/build/">Developer guide</a></li>
                        <li><a href="{{.Site.PathPrefix}}/architecture/">Understand it</a></li>
                        <li><a href="{{.Site.PathPrefix}}/reference/">Reference</a></li>
                        <li><a href="{{.Site.PathPrefix}}/learn/">Learn the domain</a></li>
                    </ul>
                </div>
            {{ end }}
        </nav>
    </div>
</aside>
{{ end }}
