{{ define "GuideNav" }}
<div class="section-nav-content">
    <h3>Use it</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/guide/getting-started/">Getting started</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/concepts/">Concepts</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/checks-and-reports/">Checks and reports</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/comparing-revisions/">Comparing revisions</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/querying/">Querying</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/naming-conventions/">Naming conventions</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/interface-profiles/">Interface profiles</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/datasheets/">Datasheets</a></li>
        <li><a href="{{.Site.PathPrefix}}/guide/cli-reference/">CLI reference</a></li>
    </ul>
</div>
{{ end }}
