{{ define "LearnNav" }}
<div class="section-nav-content">
    <h3>Learn the domain</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/learn/">Start here</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/levels/">The seven levels</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/01-what-a-board-is-made-of/">1. What a board is made of</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/02-the-drawing-is-not-the-circuit/">2. The drawing is not the circuit</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/03-why-every-chip-needs-capacitors/">3. Why every chip needs capacitors</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/04-pull-ups-and-undefined-states/">4. Pull-ups and undefined states</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/05-who-drives-this-net/">5. Who drives this net?</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/06-parts-that-care-which-way-round/">6. Parts that care which way round</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/07-reading-a-datasheet/">7. Reading a datasheet</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/08-the-power-tree/">8. The power tree</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/09-sequencing-and-straps/">9. Sequencing and straps</a></li>
        <li><a href="{{.Site.PathPrefix}}/learn/10-interfaces-and-what-they-require/">10. Interfaces and what they require</a></li>
    </ul>
</div>
{{ end }}
