{{ define "ReferenceNav" }}
<div class="section-nav-content">
    <h3>Reference</h3>
    <ul>
        <li><a href="{{.Site.PathPrefix}}/reference/rules/">Rules catalog</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/relations/">Relations catalog</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/analogy/">The software analogy</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/edif-primer/">EDIF netlist primer</a></li>
        <li><a href="{{.Site.PathPrefix}}/reference/edif-schematic-primer/">EDIF schematic primer</a></li>
    </ul>
</div>
{{ end }}
